:root{
	--color-light-blue-grey: #e9edf5;
	--color-light-grey: #808080;
	--color-dark-blue: #42aaff;
	--color-light-blue: #dbefff;
}

.nav-link{
	color: var(--color-dark-blue);
}

.text-center > p{
	color: var(--color-light-grey);
}

.navbar{
	background-color: var(--color-light-blue-grey);
}

#jumbotron-grey{
	background-color: var(--color-light-blue-grey);
	border-radius: 0%;
	margin: 0px
}

#about-me-row > .col-sm{
	background-color: var(--color-light-blue-grey);
}
