<html>
  <head>
	  <meta charset="UTF-8">
	    <title>Bootstrap-learn</title>

	    <link rel="stylesheet" href="demo.css" type="text/css"/>

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
	  <body>
      <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">
          <img src="https://image.flaticon.com/icons/png/512/37/37631.png" alt="logo" style="width:40px;">
        </a>
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Create oreder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My projects</a>
          </li>
        </ul>
      </nav>

      {% block content %}{% endblock %}
	  </body>
</html>