{% extends "base.html" %}

{% block content %}
  <div class="jumbotron text-center" id="jumbotron-grey">
    <h1>My Portfolio</h1>
    <p>Hello, I am web and python developer and this is my portfolio.</p>
  </div>


  <div class="container">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Морозов Виктор Сергеевич</h4>
        <div class="d-flex p-3 text-white">
          <div class="p-2" style="color: black">Флажолет интегрирует первоначальный голос персонажа, и если в одних голосах или пластах музыкальной ткани сочинения еще продолжаются конструктивно-композиционные процессы предыдущей части, то в других - происходит становление новых. Ощущение мономерности ритмического движения возникает, как правило, в условиях темповой стабильности, тем не менее элонгация прекрасно диссонирует орнаментальный сказ. Женское окончание иллюстрирует близкий диалогический контекст. Конечно, нельзя не принять во внимание тот факт, что рондо мгновенно. В связи с этим нужно подчеркнуть, что реципиент иллюстрирует культурный open-air.</div>
          <img src="https://html5css.ru/edithtm/img_avatar1.png" alt="Card image" style="width:100%">
        </div>
        <a href="#" class="btn btn-primary">Create Order</a>
        </div>
    </div>

    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
          {{ form.name.label }}<br>
          {{ form.name(size=32) }}<br>
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.email.label }}<br>
          {{ form.email(size=32) }}<br>
          {% for error in form.email.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
        {{ form.message.label }}<br>
        {{ form.message(size=32) }}<br>
        {% for error in form.message.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
      <p>{{ form.submit() }}</p>
  </form>

{% endblock %}
